*{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #ADD8E6;
  color: #00008B;
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.container{
  padding: 0.625rem;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0.625rem 0.625rem;
}
nav ul li a{
  color:#00008B;
  text-decoration: none;
  font-size: 1.875rem;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 0.313rem;
  background: #00008B;
  position: absolute;
  left: 0;
  bottom: -0.375rem;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-text h1{
  margin-top: 0.625rem;
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
}
.header-text h1 span{
  color: #00BFFF;
}
/*---------------about--------*/
#about{
  padding: 5rem 0rem;
  color: #00008B;
  text-align: justify;
}
.resume{
  font-size: 1.563rem;
  font-weight: 50;
  color:#000000;
  text-align: center;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub-title{
  font-size: 4.688rem;
  font-weight: 600;
  color: #00008B;
  text-align: center;
}
.paragraph{
  font-size: 1.563rem;
  font-weight: 50;
  color:#000000;
  text-align: center;
  width: 60%;
  margin: auto;
  position: relative; top: 1vw; 
}
.tab-titles{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  position: relative; left: -15vw; top: 2vw; 
}
.tab-links{
  margin-right: 3.125rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 0.313rem;
  background: #00008B;
  position: absolute;
  left: 0;
  bottom: -0.375rem;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 100%;
}
.tab-contents ul li{
  list-style: none;
  text-align: center;
}
.tab-contents ul li span{
  color: #000000;
  font-size: 1.563rem;
  text-align: center;
  position: relative; top: 4vw; 
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
/*-------contact--------*/
.hannah{
  font-size: 4.688rem;
  font-weight: 600;
  color: #00008B;
  text-align: center;
}
.email{
  font-size: 1.563rem;
  font-weight: 50;
  color: #000000;
  text-align: center;
}
form input, form textarea{
  width: 50%;
  border: 0;
  outline: none;
  background: #fff;
  padding: 0.938rem;
  margin: 0.938rem 0rem;
  color: #000000;
  font-size: 1.125rem;
  border-radius: 0.375rem;
}
.textarea{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn.btn2{
  display: incline-block;
  background: #20B2AA;
  border-radius: 0.375rem;
  font-size: 1.563rem;
  text-align: center;
  cursor: pointer;
  width: 50%;
  height: 50%;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 1.563rem 0rem;
  background: #fff;
  font-weight: 300;
  margin-top: 1.25rem;
}
div.myform{
  display: block;
  text-align: center;
}
.myform{
  display: incline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
#msg{
  font-size: 1.25rem;
  color: #00008B;
  margin-top: 1rem;
  display:block;
  text-align: center;
}


